<h2>Sign up</h2>

<%= form_tag('/users') do %>

  <div class="field">
    <%= label_tag 'user[name]', 'Name' %><br />
    <%= text_field_tag 'user[name]' %>
  </div>

  <div class="field">
    <%= label_tag 'user[email]', 'Email' %><br />
    <%= email_field_tag 'user[email]' %>
  </div>

  <div class="field">
    <%= label_tag 'user[password]', 'Password' %><br />
    <%= password_field_tag 'user[password]' %>
  </div>

  <div class="field">
    <%= label_tag 'user[password_confirmation]', 'Password confirmation' %><br />
    <%= password_field_tag 'user[password_confirmation]' %>
  </div>

  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>
<% end %>
